<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Capabilities</title>-->
<!--    <link rel="stylesheet" href="capeabilities.css">-->
<!--    <script src="scripts.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="content">-->
<!--        <h1>What can Hand Companion do?</h1>-->
<!--        <ul>-->
<!--            <li>✔️ Content filler 1</li>-->
<!--            <li>✔️ Content filler 2</li>-->
<!--            <li>✔️ Content filler 3</li>-->
<!--            &lt;!&ndash; Add more content fillers as needed &ndash;&gt;-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="images">-->
<!--        <img src="./Images/Lap.png" alt="Mac Image">-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
