<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL Identification Project</title>
    <link rel="stylesheet" href="impact.css">
</head>
<body>
    <div class="svg-waves">
    <img src="Images/about-waves.svg" alt="Waves SVG">
    </div>
    <div class="container">
        <!-- Section 1 -->
        <div class="section">
            <img src="Images/ASL_Hand.png" alt="Placeholder Image" class="left-image">
            <div class="content">
                <h1>Enhanced Communication Accessibility</h1>
                <p>Hand Companion addresses communication barriers for individuals with speech impairments, deafness, or other communication challenges. It provides a means to convey messages effectively through hand gestures, enabling greater inclusivity in social and professional interactions.</p>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="section">
            <div class="content">
                <h1>Real-Time Transcription</h1>
                <p>This AI technology offers real-time transcription of hand movements into written words. It helps bridge the communication gap between those who use American Sign Language (ASL) or other manual communication methods and those who rely on spoken language.</p>
            </div>
            <img src="Images/ASL_Chat.png" alt="Placeholder Image" class="right-image">
        </div>

        <!-- Section 3 -->
        <div class="section">
            <img src="Images/ASL_Megaphone.png" alt="Placeholder Image" class="left-image">
            <div class="content">
                <h1>Text-to-Speech Integration</h1>
                <p>Hand Companion's integration of text-to-speech functionality allows for spoken communication based on the transcribed text. This feature not only assists the user in conveying messages but also enables them to participate in verbal conversations more readily.</p>
            </div>
        </div>

        <!-- Section 4 -->
        <div class="section">
            <div class="content">
                <h1>Versatile Assistive Tool</h1>
                <p>Hand Companion serves as a versatile assistive tool, supporting a wide range of users, including those with disabilities and those interested in learning or using sign language. It promotes accessibility and inclusivity across various settings, from educational institutions to workplaces and daily social interactions.</p>
            </div>
            <img src="Images/ASL_Versatile.png" alt="Placeholder Image" class="right-image">
        </div>
    </div>

    <script src="impact.js"></script>
</body>
</html>
